<div>
 <app-version></app-version>
</div>



  <label>Menú:</label>
  <div>
    <button type="button" class="btn btn-dark mx-2" (click)="options('holaMundo')">Hola mundo</button>
    <button type="button" class="btn btn-dark mx-2" (click)="options('counter')">Contador</button>
    <button type="button" class="btn btn-dark mx-2" (click)="options('hero')">Heroes</button>
    <button type="button" class="btn btn-dark mx-2" (click)="options('list')">Lista de Heroes</button>
    <button type="button" class="btn btn-dark mx-2" (click)="options('dbz')">Modulo DBZ</button>

  </div>
  
  <div *ngIf="eyelash==='holaMundo'">
    <h1>Hola Mundo, {{ title }}</h1>
  </div>
  
  <div *ngIf="eyelash==='counter'">
    <app-counter></app-counter>
  </div>
  
  <div *ngIf="eyelash==='hero'">
    <app-heroes-hero></app-heroes-hero>
  </div>
  <div *ngIf="eyelash==='list'">
    <app-heroes-list></app-heroes-list>
  </div>
  <div *ngIf="eyelash==='dbz'">
    <app-dbz-main-page></app-dbz-main-page>
  </div>