<div>
  V 1.0
</div>

<body>

  <label>Menú:</label>
  <div>
    <button (click)="options('holaMundo')">Hola mundo</button>
    <button (click)="options('counter')">Contador</button>
    <button (click)="options('hero')">Heroes</button>
    <button (click)="options('list')">Heroes List</button>

  </div>
  
  <div *ngIf="eyelash==='holaMundo'">
    <h1>Hola Mundo, {{ title }}</h1>
  </div>
  
  <div *ngIf="eyelash==='counter'">
    <app-counter></app-counter>
  </div>
  
  <div *ngIf="eyelash==='hero'">
    <app-heroes-hero></app-heroes-hero>
  </div>
  <div *ngIf="eyelash==='list'">
    <app-heroes-list></app-heroes-list>
  </div>
</body>